*{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
}
#container{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: -150px;
    position: relative;
}

#mario{
    height: 100px;
    width: 70px;
    display: inline-block;
    bottom: 60px;
    background-image: url('../images/mario1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    visibility: hidden;
}
#playButton{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 10%;
    border: 2px solid red ;
    background-color: rgb(61, 218, 61);
    font-size: 25px;
    font-weight:bold;
}

#bird{

    height: 49px;
    width: 49px;
    display: inline-block;
    bottom: 80px;
    background-image: url('../images/bird1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1300px;
    visibility: hidden;

}

#coin{

    height: 40px;
    width: 40px;
    display: inline-block;
    bottom: 250px;
    background-image: url('../images/coin1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 600px;
    visibility: hidden;
}

#bird2{

    height: 49px;
    width: 49px;
    display: inline-block;
    bottom: 80px;
    background-image: url('../images/bird1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1700px;
    visibility: hidden;

}
#dragon{

    height: 120px;
    width: 120px;
    display: inline-block;
    bottom: 55px;
    background-image: url('../images/dragon1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 3000px;
    

}

#fire{

    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url('../images/fire.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1300px;
    visibility:hidden;
    top:-200px;
}

#sc{

    
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 600px;
    top: 200px;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color: whitesmoke;
    display: inline-block;
    visibility: hidden;
}

#over{
    display:inline-block;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 3, 3);
    visibility: hidden;
    position: absolute;
}

#text{
    position: absolute;
    left: 380px;
    top: 250px;
    color: whitesmoke;
    font-size: 6em;
    font-family: cursive;
    font-weight: 700;
}

#scoree{

    display: inline-block;
    position: absolute;
    left: 600px;
    top: 450px;
    width: fit-content;
    height: fit-content;
    color: whitesmoke;
    font-family: cursive;
    font-size: 2em;
    visibility: hidden;
}

#win{
    display:inline-block;
    height: 100%;
    width: 100%;
    background-color: rgb(5, 3, 3);
    visibility: hidden;
    position: absolute;
}


#you{
    position: absolute;
    left: 380px;
    top: 250px;
    color: whitesmoke;
    font-size: 6em;
    font-family: cursive;
    font-weight: 700;
}

